.dashboard .user-row {
  display: flex;
  justify-content: stretch;
  align-items: center;
  width: 100%;
  min-height: 120px;
  background: rgb(30, 38, 47);
}

@media (max-width: 896px) {
  .dashboard .user-row {
    flex-direction: column;
    width: 45%;
  }
}

@media (max-width: 468px) {
  .dashboard .user-row {
    flex-direction: column;
    width: 90%;
  }
}

.dashboard .user-row > div {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

@media (max-width: 896px) {
  .dashboard .user-row > div {
    width: 100%;
  }
}

.user-row .user-row-intro {
  justify-content: flex-start !important;
}

.user-row .user-row-intro img {
  width: 50px;
  height: 50px;
}

.user-row .user-row-intro span h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.user-row .user-row-intro span p {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: rgb(189, 188, 190);
}

.user-row .user-row-steps {
  min-height: 100px;
}

.user-row .user-row-steps > span:nth-child(1) {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.user-row .user-row-steps > span:nth-child(1) div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-weight: 700;
}

.user-row .user-row-steps > span:nth-child(1) div p {
  color: rgb(189, 188, 190);
}

.user-row .user-row-steps > span:nth-child(2) {
  align-self: stretch;
  width: 50%;
}

.user-row .user-row-workout {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 10px;
  min-height: 100px;
  padding: 0 15px;
}

.user-row .user-row-workout span:nth-child(1) {
  width: 65%;
}

.user-row .user-row-workout span:nth-child(1) div {
  display: flex;
  width: 100%;
  padding: 0 10px;
}

.user-row .user-row-workout span:nth-child(1) .date-red {
  background: #cc3838;
  border-radius: 8px;
}

.user-row .user-row-workout span:nth-child(1) div time {
  font-weight: 600;
  font-size: 20px;
}

@media (max-width: 1268px) {
  .user-row .user-row-workout span:nth-child(1) div time {
    font-size: 15px;
  }
}

.user-row .user-row-workout span:nth-child(1) div svg {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.user-row .user-row-workout span:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18%;
  height: 80px;
  font-size: 30px;
  background: #cc3838;
  border-radius: 8px;
}

.user-row .user-row-nutrition {
  min-height: 100px;
}

.user-row .user-row-nutrition > span:nth-child(1) {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.user-row .user-row-nutrition > span:nth-child(1) div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-weight: 700;
}

.user-row .user-row-nutrition > span:nth-child(1) div p {
  color: rgb(189, 188, 190);
}

.user-row .user-row-nutrition > span:nth-child(2) {
  align-self: stretch;
  width: 50%;
}

.user-row .user-row-notification span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  padding: 5px;
  background: rgb(54, 245, 199);
  border-radius: 8px;
}
