* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

h4, h3, h2, h1, p {
  margin: 0;
} 

.dashboard-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 60px 70px 0;
  background: #1E262F;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  color: #fff;
}

@media (max-width: 1268px) {
  .dashboard-container {
    padding: 60px 10px 0;
  }
}
