.dashboard {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 20px;
  width: 100%;
  padding: 30px 30px;
  background: rgb(16, 19, 23);
  box-shadow: 2px 3px 42px rgba(0, 0, 0, 0.5);
  border-radius: 16px;
}

.dashboard div {
  align-items: center;
  border-radius: 10px;
}

.dashboard .dashboard-headers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 40px;
  background: transparent;
}

.dashboard .dashboard-headers div {
  display: flex;
  justify-content: left;
  column-gap: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  text-transform: capitalize;
}

.dashboard .dashboard-headers div svg {
  height: 30px;
  width: 30px;
}

@media (max-width: 896px) {
  .dashboard .dashboard-headers {
    display: none;
  }
}

.dashboard-table-columns-widths {
  column-gap: 5%;
  padding: 10px 30px;
}

@media (max-width: 1268px) {
  .dashboard {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px 10px;
  }

  .dashboard-table-columns-widths {
    padding: 10px 10px;
  }
}

.dashboard-table-columns-widths div:nth-child(1) {
  width: 30%;
}

.dashboard-table-columns-widths div:nth-child(2) {
  width: calc((100% - 68%)/2);
}

.dashboard-table-columns-widths div:nth-child(3) {
  width: 20%;
}

.dashboard-table-columns-widths div:nth-child(4) {
  width: calc((100% - 68%)/2);
}

.dashboard-table-columns-widths div:nth-child(5) {
  width: 10%;
}

.dashboard-table-columns-widths div {
  width: 100%;
}